<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../lc-header/lc-header.html">
<link rel="import" href="../lc-body/lc-body.html">
<link rel="import" href="../lc-footer/lc-footer.html">

<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBL4OkhYODzTJmiTzez1b_0owogmdVBazQ",
    authDomain: "libcschedule.firebaseapp.com",
    databaseURL: "https://libcschedule.firebaseio.com",
    projectId: "libcschedule",
    storageBucket: "",
    messagingSenderId: "12961768050"
  };
  firebase.initializeApp(config);
</script>

<dom-module id="lc-app">
	<template>
		<style>

		</style>
		<lc-header on-edit-schedule=""></lc-header>
		<lc-body></lc-body>
		<lc-entry><lc-entry>
		<lc-footer></lc-footer>
	</template>
	<script src="lc-app.ts"></script>
</dom-module>
