<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../lc-icon-tray/lc-icon-tray.html">
<link rel="import" href="../../bower_components/paper-time-input/paper-time-input.html">

<dom-module id="lc-form">
	<template>
		<style>
		#infoBox {
			width: 700px;
			grid-column-start: 2;
			grid-row-start: 2;
			background-color: white;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			border-radius: 2px;
			padding: 25px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(5, 1fr);
		}
		#infoBoxBackground {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1000;
			width: 100%;
			height: 100%;
			background-image: url("../../images/black.png");
			display: grid;
			grid-template-columns: 1fr 750px 1fr;
			grid-template-rows: 1fr 500px 1fr;
		}
		#titleInput {
			width: 100%;
		}
		#notesInput {
			width: 100%;
		}
		#saveButton {
			background: #FF9B19;
		}
		#cancelButton {
			background: gray;
		}
		#times {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			grid-template-rows: 1fr;
		}
		#buttons {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}
		.button {
			height: 60px;
		}
		.timeItem {
			width: 150px;
		}
		paper-listbox {
			overflow-x: hidden;
		}
		</style>
		<redux-store action="[[action]]" on-statechange="stateChange"></redux-store>
		<div id="infoBoxBackground">
			<div id="infoBox">
				<lc-icon-tray id="icons" on-set-mode="setMode"></lc-icon-tray>
				<paper-input id="titleInput" label="Title"></paper-input>
				<div id="times">
					<div>
						<paper-dropdown-menu label="Day">
							<paper-listbox id="daylist" slot="dropdown-content" selected="[[currentDayIndex]]">
								<dom-repeat items="[[days]]">
									<template>
										<paper-item>[[item]]</paper-item>
									</template>
								</dom-repeat>
							</paper-listbox>
						</paper-dropdown-menu >
					</div>
					<div>
						<paper-dropdown-menu label="Start Time">
							<paper-listbox id="startTime" slot="dropdown-content" selected="[[selectedStartTime]]">
								<dom-repeat items="[[times]]">
									<template>
										<paper-item class="timeItem">[[item]]</paper-item>
									</template>
								</dom-repeat>
							</paper-listbox>
						</paper-dropdown-menu >
						<!-- <paper-time-input id="startTime" hour="[[startHour]]" min="[[startMin]]" label="Start Time"></paper-time-input> -->
					</div>
					<div>
						<paper-dropdown-menu label="End Time">
							<paper-listbox id="endTime" slot="dropdown-content" selected="[[selectedEndTime]]">
								<dom-repeat items="[[times]]">
									<template>
										<paper-item class="timeItem">[[item]]</paper-item>
									</template>
								</dom-repeat>
							</paper-listbox>
						</paper-dropdown-menu >
						<!-- <paper-time-input id="endTime" hour="[[endHour]]" min="[[endMin]]" label="End Time"></paper-time-input> -->
					</div>
				</div>
				<paper-input id="notesInput" label="Notes"></paper-input>
				<div id="buttons">
					<paper-button class="button" id="cancelButton" raised on-click="cancel">Cancel</paper-button>
					<paper-button class="button" id="saveButton" raised on-click="save">Save</paper-button>
				</div>
			</div>
		</div>
	</template>
	<script src="lc-form.ts"></script>
</dom-module>
