<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="lc-calendar-column">
	<template>
		<style>
		#columnWrapper {
			display: grid;
			grid-template-rows: 50 repeat(17, 75px);
			box-sizing: border-box;
		}
		h2 {
			margin-top: 0px;
			font-weight: lighter;
		}
		.block {
			box-shadow: 0px 0px 0px 1px #aaa;
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
		}
		.job {
			padding: 0 10px;
		}
		.deskone {
			background: lightblue;
		}
		.desktwo {
			background: pink;
		}
		.equip {
			background: lavender;
		}
		</style>
		<div id="columnWrapper">
			<h2 id="columnHeader"><slot></slot></h2>
			<div class="block" id="one" on-mouseover="report">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="two">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="three">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="four">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="five">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="six">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="seven">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="eight">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="nine">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="ten">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="eleven">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="twelve">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="thirteen">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="fourteen">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="fifteen">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="sixteen">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
			<div class="block" id="seventeen">
				<div class="job deskone">Mike</div>
				<div class="job desktwo">Sam</div>
				<div class="job equip">Brennan</div>
			</div>
		</div>
	</template>
	<script src="lc-calendar-column.ts"></script>
</dom-module>
