<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../lc-calendar-column/lc-calendar-column.html">
<link rel="import" href="../lc-calendar-time-bar/lc-calendar-time-bar.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../lc-form/lc-form.html">
<!-- <link rel="import" href="bower_components/paper-button/paper-button.html"> -->
<!-- <link rel="stylesheet" href="../../css/normalize.css">
<link rel="stylesheet" href="../../css/skeleton.css">
<link rel="stylesheet" href="../../css/styles.css"> -->

<dom-module id="lc-body">
	<template>
		<style>
		#testid {
			color: blue;
		}
		#calendar {
			font-family: Roboto;
			width: 95%;
			max-width: 1080px;
			margin: 0 auto;
			display: grid;
			grid-template-columns: 5% repeat(6, 1fr);
			grid-template-rows: 100%;
			background: #fff;
			padding: 20px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
		#calContainer {
			background: #f5f5f5;
			padding-bottom: 15px;
		}
		</style>
		<redux-store action="[[action]]" on-statechange="stateChange"></redux-store>
		<lc-form hidden$="[[hideForm]]" id="form" on-event-saved="saveEvent" on-event-canceled="cancelEvent"></lc-form>
		<div id="calContainer">
			<lc-icon-tray on-set-mode="updateMode"></lc-icon-tray>
			<div id="calendar">
				<lc-calendar-time-bar></lc-calendar-time-bar>
				<lc-calendar-column id="monday" on-click="addTime">Monday</lc-calendar-column>
				<lc-calendar-column id="tuesday" on-click="addTime">Tuesday</lc-calendar-column>
				<lc-calendar-column id="wednesday" on-click="addTime">Wednesday</lc-calendar-column>
				<lc-calendar-column id="thursday" on-click="addTime">Thursday</lc-calendar-column>
				<lc-calendar-column id="friday" on-click="addTime">Friday</lc-calendar-column>
				<lc-calendar-column id="saturday" on-click="addTime">Saturday</lc-calendar-column>
			</div>
		</div>
	</template>
	<script src="lc-body.ts"></script>
</dom-module>
