<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<dom-module id="lc-header">
	<template>
		<style include="https://fonts.googleapis.com/css?family=Philosopher">
			#header  {
				/*background-color: lightblue;*/
				font-family: sans-serif;
				display: grid;
				grid-template-columns: 50% 1fr 25%;
				margin-bottom: 25px;
			}
			#edit_s_button{
				font-family: sans-serif;
				grid-column-start: 3;
			}
		</style>
		<div id='header'>
			<paper-dropdown-menu on-value-changed="changeSemester">
				<paper-listbox slot="dropdown-content" selected="0">
					<paper-item>2018 Winter Semester</paper-item>
					<paper-item>2018 Fall Semester</paper-item>
				</paper-listbox>
			</paper-dropdown-menu >
			<paper-button raised on-click="editSchedule" id='edit_s_button'> Edit Your Schedule</paper-button>
		</div>
	</template>
	<script src="lc-header.ts"></script>
</dom-module>
