<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<dom-module id="lc-header">
	<template>
		<style>
			#headerTest {
				/*background-color: lightblue;*/
				font-family: sans-serif;
				display: grid;
				grid-template-columns: 100px 4fr 3fr 2fr;
				background: #4AC0FF;
				padding: 5px;
			}
			#edit_s_button {
				font-family: sans-serif;
				grid-column-start: 4;
				background: #FF9B19;
			}
			#logo {
				padding: 22.5px;
				justify-content: center;
			}
		</style>

		<div id='headerTest'>
			<div></div>
			<div id="logo"><b>Library Schedule Manager</b><span> The Scheduler of the Future</span></div>
			<paper-dropdown-menu on-value-changed="changeSemester" label="Semester">
				<paper-listbox slot="dropdown-content" selected="0">
					<paper-item>2018 Winter</paper-item>
					<paper-item>2018 Fall</paper-item>
				</paper-listbox>
			</paper-dropdown-menu >
			<paper-button raised on-click="editSchedule" id='edit_s_button'> Edit Your Schedule</paper-button>
		</div>
	</template>
	<script src="lc-header.ts"></script>
</dom-module>
