<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<dom-module id="lc-header">
	<template>
		<style>
			#headerTest {
				/*background-color: lightblue;*/
				font-family: sans-serif;
				display: grid;
				grid-template-columns: 100px 4fr 3fr 1fr 2fr;
				background: #4AC0FF;
				padding: 5px;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				position: relative;
				z-index: 10;
			}
			#edit_s_button {
				font-family: Roboto;
				grid-column-start: 5;
				background: #FF9B19;
			}
			#logoWrapper {
				padding: 22.5px;
				justify-content: center;
			}
			#logo {
				font-size: 18px;
			}
		</style>
			<!-- <app-header>
				<app-toolbar class="toolbar">
				  <div class="tabs">
					<a href="#about">About</a>
					<a href="#services">Services</a>
					<a href="#contact">Contact</a>
				  </div>
				</app-toolbar>
			</app-header> -->
		<div id='headerTest'>
			<div></div>
			<div id="logoWrapper"><span id="logo"><b>Library Schedule Manager</b></span><span id="tagline"> Have a say in when you work!</span></div>
			<paper-dropdown-menu on-value-changed="changeSemester" label="Semester">
				<paper-listbox slot="dropdown-content" selected="0">
					<paper-item>2018 Winter</paper-item>
					<paper-item>2018 Fall</paper-item>
				</paper-listbox>
			</paper-dropdown-menu >
			<paper-button raised on-click="editSchedule" id='edit_s_button'>Save Your Schedule</paper-button>
		</div>
	</template>
	<script src="lc-header.ts"></script>
</dom-module>
