<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="lc-icon-tray">
	<template>
		<style>
		#iconTrayWrapper {
			padding: 15px;
			display: grid;
			grid-template-columns: 1fr 600px 1fr;
		}
		#iconTray {
			grid-column-start: 2;
			display: grid;
			/*grid-template-columns: 1fr repeat(4, 150px) 1fr;*/
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			grid-template-columns: repeat(4, 150px);
		}
		.icon {
			text-align: center;
			cursor: pointer;
			padding: 8px 0;
			padding-bottom: 0;
			background-color: white;
			width: 150px;
			height: 50px;
			user-select: none;
		}
		</style>
		<div id="iconTrayWrapper">
			<div id="iconTray">
				<div id="p1" class="icon" on-click="setMode" style$="[[p1Style]]"><iron-icon icon="icons:work"></iron-icon></br>Preferred</div>
				<div id="p2" class="icon" on-click="setMode" style$="[[p2Style]]"><iron-icon icon="icons:weekend"></iron-icon></br>Not Preferred</div>
				<div id="course" class="icon" on-click="setMode" style$="[[courseStyle]]"><iron-icon icon="maps:store-mall-directory"></iron-icon></br>Class</div>
				<div id="other" class="icon" on-click="setMode" style$="[[otherStyle]]"><iron-icon icon="notification:do-not-disturb"></iron-icon></br>Unavailable</div>
			</div>
		</div>
	</template>
	<script src="lc-icon-tray.ts"></script>
</dom-module>
