<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="lc-calendar-time-bar">
	<template>
		<style>
		#columnWrapper {
			display: grid;
			grid-template-rows: 50 repeat(17, 75px);
		}
		h1 {
			margin-top: 0px;
			margin-left: auto;
			margin-right: auto;
		}
		.day div {
			text-align: right;
			padding-right: 10px;
		}
		</style>
		<div class="day" id="columnWrapper">
			<div></div>
			<div>7:00</div>
			<div>8:00</div>
			<div>9:00</div>
			<div>10:00</div>
			<div>12:00</div>
			<div>1:00</div>
			<div>2:00</div>
			<div>3:00</div>
			<div>4:00</div>
			<div>5:00</div>
			<div>6:00</div>
			<div>7:00</div>
			<div>8:00</div>
			<div>9:00</div>
			<div>10:00</div>
			<div>11:00</div>
			<div>12:00</div>
		</div>
	</template>
	<script src="lc-calendar-time-bar.ts"></script>
</dom-module>
